.main-wrapper
{
	min-width: 1002px;
}
.header-wrapper
{/*
	height: 125px;*/
	background: #7dd9e8;
}

.header-main
{
	min-height: 66px;
	width:942px;
	padding-top: 19px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0px auto;
}

.nav-wrapper
{
	background: #f5f5f5;
}

.brand
{
	float: left;
}

.search-bar
{
	float: left;
 	width: 338px;
 	padding-top: 20px;
 	padding-left: 24px;
 	padding-right: 24px;/*
	border: 1px solid red;*/
}

.user
{
	float: right;
	width:176px;
	padding-top: 8px; 
	padding-bottom: 8px;
}

.search-bar form input {
	float: left;
	display: block;
	height: 20px;
	min-width: 274px;
	padding-left: 5px;
	background: url("../images/search-bar.png") no-repeat 0,0;
	border: 0;
}

.btn-search
{
	float: right;
	min-width:54px;
	line-height: 20px;
	border: 0;
	background: url("../images/btn-search.png") no-repeat 0,0;
}

.user-name
{
	float: right;
	line-height: 12px;
	text-align: right;
}

.user-options
{
	float: right;
	line-height: 12px;
	padding-top:10px;
}

.user-options ul
{
	list-style: none;
	margin-right: -2px;
}

.user-options ul li
{
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid black;
}

.user-options ul li:first-child
{
	border: none;
}

.navBar
{
	width: 1002px;
	margin: 0 auto;
}

.nav
{
	float: left;
	width: 638px;
}

.notify 
{
	float: right;
	width:300px;
	margin-right: 30px;
}

.nav ul
{
	line-height: 40px;
	margin-left: 25px;
}

.nav ul li
{
	float: left;
	width: auto;
	list-style: none;
	padding-left: 15px;
	padding-right: 15px;
}

.notify div
{
	float: left;
	/*line-height: 40px;*/
}

.notify .invites
{
	float:left;
}

.notify .requests
{
	float:right;
}

.notify .invites a div.invites-icon
{
	background: url('../images/invites-inactive.png') no-repeat;
	width: 10px;
	height: 16px;
	margin-top: 12px; /*Image size error maybe*/
	margin-right: 8px;
}

.notify .invites a div.invites-icon.active
{
	background: url('../images/invites.png') no-repeat;
}

.text
{
	line-height: 40px;
}

.notify .requests a div.requests-icon
{
	background: url('../images/request-inactive.png') no-repeat;
	width: 20px;
	height: 18px;
	margin-top: 10px;
	margin-right: 8px;
}

.notify .requests a div.requests-icon.active
{
	background: url('../images/request.png') no-repeat;
}

/* Body CSS */

.body{
	margin-top: 30px;
	margin-bottom: 30px;
}

.col-3-right-layout
{
	background: url('../images/body-background.png')  repeat-y;
	width: 940px;
	/*height: 500px;*/
	margin: 0 auto;
}

.col-2-right-layout
{
	/*background: url('../images/col2Background.png')  repeat-y;*/
	width: 940px;
	/*height: 500px;*/
	margin: 0 auto;
}

.col-3-right-layout .main-container
{
	float: left;
	width: 744px;
}

.col-3-right-layout .col-right
{
	float: right;
	width: 176px;
	/*height: 80px;*/
}

.col-3-right-layout .main-container .l-left
{
	float: left;
	width: 194px;
}

.col-3-right-layout .main-container .col-main
{
	float: right;
	width: 	518px;
}	

.col-2-right-layout .col-main
{
	float: left;
	min-width: 718px;
	/*border: 1px solid red;*/
}

.col-2-right-layout .col-right
{
	float: right;
	width: 176px;
}


.side-topic
{
	background: #2fc1da;
	padding-left: 12px; 
	padding-right: 12px; 
	padding-top: 14px;
	padding-bottom: 14px;
	line-height: 22px;
}

.content-list ul li
{
	background: #f5f5f5;
}

.content-list ul li .contents
{
	float:left;
	width: 130px;
	padding: 12px;
	/*background: red;*/
}

.content-list ul li:hover
{
	background: #ffffff;
}

.content-list ul li .download-icon
{
	float: right;
	background: url('../images/download-icon.png') no-repeat;
	/*background: blue;*/
	height: 12px;
	width: 10px;
	padding-right: 15px;
	margin-bottom: 0px;
}

.content-list ul li .menu-icon
{
	float: right;
	background: url('../images/menu-icon.png') no-repeat;
	/*background: blue;*/
	height: 12px;
	width: 10px;
	padding-right: 15px;
	margin-bottom: 0px;
}

	/* Main Container */
.col-3-right-layout .main-container .col-main .entries
{
	height: 30px;
}

.col-3-right-layout .main-container .col-main .tabs
{
	margin-top: 1px;
	border-bottom: 2px solid #2fc1da;
	margin-top: 12px;
}

.col-3-right-layout .main-container .col-main .posts
{
	border-bottom: 1px solid #d8d8d8;
}

.col-3-right-layout .tab-left
{
	float: left;
	background: url('../images/tab-left.png') no-repeat;
	width: 248px;
	height: 66px;
	padding-left: 5px;
	padding-right: 5px;
}

.col-3-right-layout .tab-right
{
	float: right;
	background: url('../images/tab-right.png') no-repeat;
	width: 248px;
	height: 66px;
	padding-left: 5px;
	padding-right: 5px;
}

.col-2-right-layout .col-main .setting-tabs .tab-left
{
	float: left;
	background: url('../images/tab-left.png') no-repeat;
	width: 248px;
	height: 32px;
}

.col-2-right-layout .col-main .setting-tabs .tab-left.active
{
	background: url('../images/tab-left-active.png') no-repeat;
}

.col-2-right-layout .col-main .setting-tabs .tab-right
{
	float: right;
	background: url('../images/tab-right.png') no-repeat;
	width: 248px;
	height: 32px;
}

.tab-head
{
	padding-top: 14px;
	padding-bottom: 14px;
	height: 10px;
	/*height: 8px;*/
}

.tab-category
{
	float: left;
	text-align: center;	
}

.tab-category div
{
	background: url('../images/tab-inactive.png');
	height: 28px;
}

.tab-category div:hover
{
	background: url('../images/tab-active.png');
	height: 28px;
}

.tab-category div.active
{
	background: url('../images/tab-active.png');
	height: 28px;
}

.tab-list-left{
	float: left;
	line-height: 28px;
	width: 114px;
	margin-left: 5px;
	margin-right: 5px;
}

.tab-list-right
{
	float: right;
	line-height: 28px;
	width: 114px;
	margin-left: 5px;
	margin-right: 5px;
}

.tab-category div a
{
	display: block;
}

.post-contents
{
	margin-top: 15px;
	margin-bottom: 15px;
}

.user-pic
{
	float: left;
	width: 70px;
	min-height: 70px;
	position: relative;
}

.post-title
{
	float: left;
	width: 432px;
	margin-left: 8px;
	margin-right: 8px;
}

.user-pic img
{
	width: 70px;
	height: 70px;
}
.mask
{
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0;
	left: 0;
}

/* Footer Section */
.footer-container
{
	height: 45px;
	background: #727272;	
}

.footer
{
	width: 942px;
	line-height: 45px;
	padding: 0 32px 0 32px; 
	margin: 0 auto;
}

.footer-nav
{
	float: left;
}

.footer-nav ul li
{
	float: left;
	background: url('../images/dot.png') no-repeat center left;
	padding-right: 6px;
	padding-left: 10px;
}


.footer-nav ul li:first-child 
{
	background: none;
	padding-left: 0px;
}

.copyright
{
	float: right;
	padding-right: 8px;
}