.search-bar form input
{
	font-size: 10px;
	color: #919ea4;
}

.btn-search
{
	color: #f3f5f2;
	font-size: 8px;
	font-family: arial;
}

.user-name
{
	font-size: 12px;
}

.user-options
{
	font-size: 10px;
}

.nav
{
	font-size: 14px;
}

.notify div
{
	font-size: 11px;
	color: #6a6a6a;
}

.side-topic
{
	font-size: 14px;
	color: #fffeff;
}

.content-list	
{
	font-size: 10px;
	color: #292929;
}

.col-main h1
{
	font-size: 30px;
}

.tabs
{
	text-align: center;
	font-size: 10px;
}

.post-title h3
{
	font-size: 14px;
}

.post-title span
{
	font-size: 12px;
}

.post-title a
{
	color: #4fb0c1;
}

.post-title span.subscribe-notify a
{
	color: #9eb763;
}

.post-title span.new
{
	font-size: 10px;
	color: #4fb0c1;
}

.post-title span.invite
{
	font-size: 10px;
	color: #d73e1c;
}

.footer
{
	font-size: 10px;
	color: #d4d4d4;
}